*{
    box-sizing: border-box;
}

body{
    height: 2000px;
    /* background-image: url(); */
    background-color: rgb(77, 60, 60);
}

.firstp{
    position: absolute;
    /* left: 30%; */
    top: 30%;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: aqua; */
    transform: skewX(6deg);
}
.firstp h1{
    font-size: 6em;
}
.firstp p{
    font-size: 2em;
    color: blue;
}
.firstp{
    /* color: blue; */
}


/* Sales Section */
.SaleS{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}